.row{
    background-color: brown;
}
footer{
    color: antiquewhite;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px brown ;
}