<div class="row">
    <h1>Hard & Soft Skills </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="85"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'HTML'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="85"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'CSS'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="85"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'JavaScript'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="85"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'GitHub'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="85"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'Ingles'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="85"
            [titleFontSize]="'20px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [title]="'Compañerismo'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'burlywood'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>